//-----------------------------------------------------------------------------
/* VARIABLES */
//-----------------------------------------------------------------------------

// Colors
$primary-color: #000000;
$secondary-color: #000000;
$dark-color: #000000;
$light-color: #000000;

// Fonts
$primary-font: 'Open Sans', sans-serif;;
$secondary-font: 'Rajdhani', Helvetica, Arial, sans-serif;

// Layout
$max-width: 1170px;
$margin-auto: 0 auto;
