//-----------------------------------------------------------------------------
// IMPORTS
//-----------------------------------------------------------------------------
@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_grid.scss";
@import "_styles.scss";
@import "_font-awesome.scss";




//-----------------------------------------------------------------------------
/* BASE */
//-----------------------------------------------------------------------------
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	background-color: $light-color;
	color: $dark-color;
	font-family: $primary-font;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

.wrapper {
    width: 90%;
    max-width: $max-width;
    margin: $margin-auto;
}




//-----------------------------------------------------------------------------
/* HEADER */
//-----------------------------------------------------------------------------
.main-header {
    width: 100%;
    height: 100px;
	background-color: $primary-color;
	border-bottom: 1px solid rgba($light-color, 0.2);
}

.logo {
    float: left;
    width: 20%;
    height: 100px;
    padding: 37px 0;

	font-size: 26px;
	text-transform: uppercase;
}

.main-nav {
    float: left;
    width: 80%;
    font-size: 16px;
	font-weight: 300;
    text-align: right;

    li {
        padding-left: 20px;
    }

    a {
        display: block;
        padding: 34px 0;
		border-top: 1px solid transparent;

        &:hover {
            border-top: 1px solid rgba($light-color, 0.2);
        }
    }
}




//-----------------------------------------------------------------------------
/* SECTIONS */
//-----------------------------------------------------------------------------
#overview, #features, #download {
	clear: both;
}




//-----------------------------------------------------------------------------
/* INTRO */
//-----------------------------------------------------------------------------
.intro {
    width: 100%;
    height: 700px;
    background-color: $primary-color;
    color: $light-color;

    .wrapper {
        padding: 250px 0;
    }
}




//-----------------------------------------------------------------------------
/* HIGHLIGHTS */
//-----------------------------------------------------------------------------
.highlights {
	float: left;
	width: 100%;
	padding: 100px 0;
	text-align: center;
}

.highlight {
	float: left;
	width: 50%;
	min-height: 250px;
	margin-top: 100px;

	i {
		color: $primary-color;
		font-size: 80px;
	}

	h4 {
		padding: 20px 0;
		font-weight: 400;
	}

	p {
		max-width: 360px;
		margin: $margin-auto;
		font-weight: 300;
	}
}




//-----------------------------------------------------------------------------
/* OVEVIEW */
//-----------------------------------------------------------------------------
.overview {
	float: left;
	width: 100%;
	padding: 100px 0;
	background-color: rgba($dark-color, 0.1);
}

.text {
	float: left;
	width: 66.66%;

	p {
		margin-top: 50px;
		font-weight: 300;
	}
}

.image {
	float: left;
	width: 33.33%;
	text-align: right;

	img {
		width: 200px;
		height: 200px;
	}
}




//-----------------------------------------------------------------------------
/* FEATURES */
//-----------------------------------------------------------------------------
.features {
	float: left;
	width: 100%;
	padding: 100px 0;
	text-align: center;
}

.feature {
	float: left;
	width: 25%;
	margin-top: 100px;

	i {
		padding-bottom: 20px;
		color: $primary-color;
		font-size: 40px;
	}
}




//-----------------------------------------------------------------------------
/* DOWNLOAD */
//-----------------------------------------------------------------------------
.download {
	clear: both;
    width: 100%;
	padding: 100px 0;
    background-color: $primary-color;
    color: $light-color;

    h3 {
		float: left;
		margin: 0;
        text-transform: uppercase;
    }

	.button-wrapper {
		float: right;
	}

    a {
        padding: 20px 50px;
        border: 4px solid $light-color;
		border-radius: 50px;
        background-color: transparent;
        color: $light-color;
        font-size: 20px;

        &:hover {
            background-color: $light-color;
            color: $primary-color;
        }
    }
}




//-----------------------------------------------------------------------------
/* FOOTER */
//-----------------------------------------------------------------------------
.main-footer {
	width: 100%;
	background-color: #0CB7EA;
	color: $light-color;
	font-size: 14px;
	font-weight: 300;
	text-align: center;

	p {
		padding: 25px 0;
	}
}




//-----------------------------------------------------------------------------
/* MEDIA QUERIES */
//-----------------------------------------------------------------------------
@media screen and (max-width: 40px) {

}
