<div class="features">
    <div class="wrapper">
        {{ content }}
        {% for feature in page.header.features %}
            <div class="feature">
                <i class="fa fa-{{ feature.icon }}"></i>

                <h5>{{ feature.header }}</h5>
            </div>
        {% endfor %}
    </div>
</div>
